nav {
    background-color: rgb(139, 212, 206);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: darkblue
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

main {
    max-width: 840px;
}

aside {
    width: 18rem;
    margin: 2rem;
    border: 1px solid rgb(0, 0, 0 / 0.0);
    padding: 1rem;
    background-color: rgb(192, 255, 250);
    color: #333;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 14px;
    border-top: 2px solid #000;
    text-align: center;
}